*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

:root{
    --text-color: white;
    --bg-color: linear-gradient(to top, #09203f 0%, #537895 100%);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color:  rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(assets/MoonStars.svg);
    --border-img: 1px solid white;
    --border-moonsun: 0.8px solid white;
    
}

.light{
    --text-color: black; 
    --bg-color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color:  rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(assets/Sun.svg);
    --border-img: 1px solid black;
    --border-moonsun: 0.8px solid black;
    
}

body{
    background: var(--bg-color);
    height: 100vh;
    
}

body *{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
    
}

#profile{
    text-align: center;
    padding: 24px;
}

#profile img{
    border-radius: 50%;
    width: 130px;
    border: var(--border-img);
    
}

#profile p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    position: relative;
    width: 85px;
    margin: 4px auto;
    
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: var(--border-moonsun);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
    cursor: pointer;
}

.light #switch button {
    left: initial;
    right: 0;
    animation: slide-in 0.2s forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch span{
    display: block;
    width: 70px;
    height: 24px;
    cursor: pointer;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 24px 0;
}

ul li a{
    border: 1px solid var(--stroke-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    text-decoration: none;
    font-weight: 500;
    background: var(--surface-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.3s;
}

ul li a:hover{
    border: 1.5px solid var(--text-color);
    background: var(--surface-color-hover);
}

#social-links{
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
}

#social-links a:hover{
    background: var(--highlight-color);
}

footer {
    padding: 24px 0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;

}

footer a{
    text-decoration: none;
    font-weight: 800;
}

@keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  
  @keyframes slide-back {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }